<html>
  <title>{{ ansible_hostname }}</title>
    <body>
      <h1>Date: {{ansible_date_time.date}}</h1>
      <p>You are connected to <strong>{{ inventory_hostname }}</strong></p>
      <p>This webpage is stored at <strong>{{ index_location }}</strong> using <strong>{{ template }}</strong> as a template.</p>
    </body>
</html>
